@font-face {
    font-family: Avenir;
    src: url("../font/AvenirNextLTPro-Regular.otf") format("opentype");
}

#formulaire {
    text-align: center;
    width: 400px;
    background-color: #E0E0E0;
    margin-right: auto;
    margin-left: auto;
    font-family: Avenir;
}
#titre_form {
    margin-top: 20px;
}
label {
    margin: 10px;

}
input {
    margin-right: 0;
}
#contenu_fos_user_form div{
    margin-top: 20px;

}
#contenu_fos_user_form{
    background-color: aqua;
    text-align :center;

}
#formulaire_layout{
    background-color:#fff;
    padding: 10px;
    margin-top: 130px;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    font-size: 15px;
    border-radius: 5%;
    box-shadow: 0 0 2em #212121;
    color: #333333;
    font-family: Avenir;

}
#formulaire_layout h2{
    color: #4e484b;
    font-size: 20px;
    font-family: Avenir;
    padding-left: 20px;
    margin-bottom: 20px;
}
#formulaire_layout h1{
    color: #4e484b;
    letter-spacing: 4px;
    font-family: Avenir;
    padding-left: 20px;
}
#formulaire_layout label{
    position: initial;
    display: block;
    margin-top: 20px;
    margin-bottom: -10px;
}
#formulaire_layout input{
    opacity: 1;
    position:initial;
    background-color:rgba(250,250,250,0);
}
#formulaire{
    margin-top: 20px;
    padding: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
textarea.form-control {
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
   /* -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;*/
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

textarea,
textarea.form-control {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
textarea.form-control:focus {
    outline: 0;
    background: #fff;
    border: 3px solid #ccc;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }

button,input[type="submit"]:hover {
    opacity: 0.6; color: #ddd;
    background-color: rgba(40,40,40,1);
}

button,input[type="submit"]:active { outline: 0; opacity: 1; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

button,input[type="submit"]:focus { outline: 0; opacity: 1; background: #302a2d; color: #fff; }

button,input[type="submit"]:active:focus, input[type="submit"].active:focus { outline: 0; opacity: 1; background: #302a2d; color: #fff; }

input {
    border-style: none;
    border-bottom: solid 2px;

}
button, input[type="submit"]{
    cursor: pointer;
    height: 50px;
    margin: 10px;
    padding: 0 20px;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    /*-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;*/
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
    background-color: #000;
    padding: 0% 10%;
    border-radius: 20px;
    text-decoration: none;
}


.annonce{
    font-family: "Avenir";
    font-size: 50px;
    letter-spacing: 0.3vw;
    text-align: center;
    color: #ffcc00;
    text-shadow: 3px 3px #1d1d1d;
    margin:0 auto;
    position:absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
#profil {
    text-align: center;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    font-family: Avenir;
    text-align: center;
}
button a {
    text-decoration: none;
    color:#fff;

}
#fos_user_profile_form label{
    color: white;
    font-family: Avenir;
}
#fos_user_profile_form{
    text-align: center;
}
#fos_user_profile_form_submit{
    text-align: center;
}
.flash-success{
    background-color:#eaede6;
    color: green;
    text-align: center;
    border-radius:50px ;
}

body{
    background: url("../img/backform.png") no-repeat;
}
#fos_user_registration_form{
    margin-bottom: 20px;
}

#formulaire_layout input[type="submit"]{
    background-color:rgba(36,36,36,1);

}