/* line 24, ../../../../../Ruby23-x64/lib/ruby/grems/2.3.0/grems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
    list-style: none;
}

/* line 28, ../../../../../Ruby23-x64/lib/ruby/grems/2.3.0/grems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

/* line 30, ../../../../../Ruby23-x64/lib/ruby/grems/2.3.0/grems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
    quotes: none;
}
/* line 103, ../../../../../Ruby23-x64/lib/ruby/grems/2.3.0/grems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

/* line 116, ../../../../../Ruby23-x64/lib/ruby/grems/2.3.0/grems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

/* line 1, ../sass/base.scss */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.logo{
    z-index: 1;
    position: absolute;
    float: right;
    right: 10%;
    top: 4%;
}

/* line 6, ../sass/base.scss */
html {
    font-size: 62.5%!important;
}

/* line 6, ../sass/hamburger.scss */
.cmenu {
    position: fixed;
    opacity: 0;
}

/* line 11, ../sass/hamburger.scss */
.lmenu {
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
/* line 19, ../sass/hamburger.scss */
.lmenu::before {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(107, 107, 107, 0.6);
    content: '';
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
/* line 32, ../sass/hamburger.scss */
.lmenu .burger {
    position: fixed;
    top: 4%;
    left:10%;
    z-index: 3;
    width: 2rem;
    height: 2rem;
    margin: 0;
    padding: 0;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
/* line 42, ../sass/hamburger.scss */
.lmenu .burger::before,
.lmenu .burger .bar, .lmenu .burger::after {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 12%;
    background: white;
    content: '';
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
/* line 54, ../sass/hamburger.scss */
.lmenu .burger .bar {
    top: 44%;
    background-color: #000;
}
/* line 58, ../sass/hamburger.scss */
.lmenu .burger::before {
    top: 0;
    transform-origin: top left;
    background-color: #000;
}
/* line 63, ../sass/hamburger.scss */
.lmenu .burger::after {
    bottom: 0;
    transform-origin: bottom left;
    background-color: #000;
}

/* line 71, ../sass/hamburger.scss */
.lmenu .burger .bar {
    background-color: #000;
}

/* line 77, ../sass/hamburger.scss */
.cmenu:focus + .lmenu .burger,
.lmenu:hover .burger {
    opacity: .75;
}

/* line 82, ../sass/hamburger.scss */
nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-itrems: flex-start;
    transform: translate3d(0, 0, 0);
    /* material acceleration */
    transform: translateX(-100%);
    will-change: transform;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
/* line 96, ../sass/hamburger.scss */
nav::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 25rem;
    background: #fbbf0a;
    content: '';
    transform: skewX(15deg) translateX(-100%);
    transform-origin: bottom left;
    will-change: transform;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@media (min-width: 40rem) {
    /* line 96, ../sass/hamburger.scss */
    nav::before {
        width: 40rem;
    }
}
/* line 113, ../sass/hamburger.scss */
nav a {
    margin: .5rem 0;
    padding: .2rem 2rem;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transform: translateX(-100%);
    transition: color .15s, transform .5s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
/* line 124, ../sass/hamburger.scss */
nav a:nth-child(1) {
    transition-delay: 0s, 100ms;
}
/* line 124, ../sass/hamburger.scss */
nav a:nth-child(2) {
    transition-delay: 0s, 150ms;
}
/* line 124, ../sass/hamburger.scss */
nav a:nth-child(3) {
    transition-delay: 0s, 200ms;
}
/* line 124, ../sass/hamburger.scss */
nav a:nth-child(4) {
    transition-delay: 0s, 250ms;
}
/* line 124, ../sass/hamburger.scss */
nav a:nth-child(5) {
    transition-delay: 0s, 300ms;
}
/* line 124, ../sass/hamburger.scss */
nav a:nth-child(6) {
    transition-delay: 0s, 350ms;
}
/* line 126, ../sass/hamburger.scss */
nav a:hover, nav a:focus {
    color: black;
}

/* line 132, ../sass/hamburger.scss */
main {
    overflow: hidden;
}
/* line 134, ../sass/hamburger.scss */
main .content {
    transform: translate3d(0, 0, 0);
    /* material acceleration */
    will-change: transform, filter;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

/* line 143, ../sass/hamburger.scss */
[id="navcheck"]:checked + label::before {
    opacity: 1;
    pointer-events: auto;
}
/* line 148, ../sass/hamburger.scss */
[id="navcheck"]:checked + label .burger::before, [id="navcheck"]:checked + label .burger::after {
    width: 141.42%;
}
/* line 152, ../sass/hamburger.scss */
[id="navcheck"]:checked + label .burger::before {
    transform: rotate(45deg) translateY(-50%);
}
/* line 155, ../sass/hamburger.scss */
[id="navcheck"]:checked + label .burger::after {
    transform: rotate(-45deg) translateY(50%);
}
/* line 158, ../sass/hamburger.scss */
[id="navcheck"]:checked + label .burger .bar {
    transform: scale(0.1);
}
/* line 163, ../sass/hamburger.scss */
[id="navcheck"]:checked ~ nav {
    transform: translateX(0);
}
/* line 165, ../sass/hamburger.scss */
[id="navcheck"]:checked ~ nav::before {
    transform: skewX(15deg) translateX(0);
}
/* line 168, ../sass/hamburger.scss */
[id="navcheck"]:checked ~ nav a {
    transform: translateX(0);
}
/* line 172, ../sass/hamburger.scss */
[id="navcheck"]:checked ~ main .content {
    transform: translateX(3rem);
    transform-origin: left center;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    /* quite laggy :S */
}

/* helper */
/* line 181, ../sass/hamburger.scss */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}