{% extends 'base.html.twig' %}
{% block body %}
    <div class="row rowheader">
    <header class="header">
        <h2>Classement</h2>
    </header>
    </div>
<div class="container">


<div class="row">
    <div class="col-md-12 text-center">
        <h3>Ces joueurs sont classés en fonction du nombre de parties gagnées.</h3>

    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <table class="table">
            <tr>
                <td>Joueurs </td>
                <td>Position</td>
                <td>Total des points</td>
            </tr>
            {% for joueur in joueurs %}
                <tr>
                    <td>{{ joueur.username }}</td>
                    <td>{{ joueur.partiesGagnees }}</td>
                    <td>{{ joueur.cumulPoints }}</td>
                </tr>
            {% endfor %}

        </table>
    </div>

</div>


</div>

{% endblock %}