{% extends 'base.html.twig' %}
{% block body %}

<div class="container">

    <br><br><br>
    <h2>Classement</h2>

    {{ dump(joueurs) }}

    <table class="table">
        <tr>
            <td>Joueurs </td>
            <td>Position</td>
        </tr>
        {% for joueur in joueurs %}
            <tr>
                <td>{{ joueur.username }}</td>
                <td>{{ joueur.partiesGagnees }}</td>
            </tr>
        {% endfor %}

    </table>
    <img class="logo" src="{{asset('assets/img/logo.png') }}"></div>


{% endblock %}