<h1>Coucou everybody</h1>
<a href="{{ path("hello_world") }}">Retour</a>
<p>{{ maVariable }}</p>
<p>{{ array.jour }} {{ array['mois'] }}</p>
{% if maVariable=="Floflo bibi" %}</p>Bonjour floflo bibi
{% else %} <p>erreur</p>
{% endif %}