{% extends 'base.html.twig' %}
{% block body %}
<div class="container">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">






    <p>Playlist</p>
</div>
{% endblock %}